name: Test Python Versions

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.13', '3.13t']
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      # uses: actions/setup-python@v4
      # uses: priya-kinthali/setup-python@freethread-pr-319
      uses: astral-sh/setup-uv@5
      with:
          python-version: ${{ matrix.python-version }}
  
        

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run tests
      run: |
        python test_script.py
