name: Test Publish Release

on:
  push:
    # tags:
    #   - "v*"

permissions:
  contents: write

jobs:
  release:
    name: Release pushed tag
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Configure Git User
        run: |
          git config --global user.email "priyagupta108@github.com"
          git config --global user.name "priya gupta"

      - name: Tag and Push Release
        run: |
          git tag -a v1 -m "Initial release"
          git push origin v1
      - name: Publish Release
        id: create_release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref_name }}
        run: |
          LATEST_COMMIT=$(git rev-parse HEAD)
          LATEST_TAG=$(git describe --tags $(git rev-list --tags --max-count=1))
          gh release create $LATEST_COMMIT --draft --title "Release $LATEST_COMMIT" \
            --tag "${{ inputs.tool-version }}-${{ github.run_id }}" \
            --notes "${{ steps.generate-release-body.outputs.RELEASE_BODY }}" \
            "https://github.com/priyagupta108/sample-python/archive/refs/tags/$LATEST_TAG.zip#sample-python-$LATEST_TAG.zip" \
            "https://github.com/priyagupta108/sample-python/archive/refs/tags/$LATEST_TAG.tar.gz#sample-python-$LATEST_TAG.tar.gz"
     
